*.class

#package
*.war
*.ear

#maven
target/

#eclipse
.settings/
.project
.classpath

#idea
.idea
/idea/
*.iml
*.ipr
*.iws

#tempFile
*.log
*.tmp
*.cache
*.pacth

#system
.DS_Store
Thumbs.db
